/* Simon Singh 301496619 */  
body {
  background-color: #141414; 
  color: #A8DBFF; 
  font-family: Arial, Helvetica, sans-serif;
  pre {
    white-space: pre-wrap;
  }
}
h1 {
  color: #47ACFF;
  text-align: center;
  }
img {
  max-width: 15%;
  height: auto;
  float: left;
}
th, td {
  border-width: .25em;
  border-style: solid;
  border-color: #FFFFFF;
  padding: .5em;
}
table {
  margin-left: auto;
  margin-right: auto;
}
p#about {
  margin-left: 20em;
}
p#aboutcomment {
  margin-left: 20em;
}
ul#aboutlist {
  margin-left: 20em;
}
/* start navigation */
nav ul {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  border-radius: 30px;
  list-style-type: none;
  background-color: #47ACFF;
}
nav ul li {
  float: left;
}
nav ul li a {
  display: block;
  color: #111111;
  text-align: center;
  padding: 14px 16px;
  text-decoration; none;
}
nav ul li a:hover:not(.active) {
  background-color: #111111;
  color: #FFFFFF;
}
nav ul li a.active {
  background-color: #FFFFFF;
  color: #000000;
}
nav ul li.right {
  float: right;
}
@media screen and (max-width: 600px) {
  nav ul li.right,
  nav ul li {float: none;}
}
/* end navigation */
